<div class="wrapper container-fluid">
  <h1>Options</h1>

  <div class="row">
    <label class="col-sm-12">Nib size (mm):</label>
    <input class="col-sm-12" type="text" [(ngModel)]="options.nibSize" (ngModelChange)="optionsChange()">
  </div>

  <div class="row">
    <label class="col-sm-12">Slant (°). 0 for no slant lines</label>
    <input class="col-sm-12" type="text" [(ngModel)]="options.slant" (ngModelChange)="optionsChange()">
  </div>

  <div class="row">
    <label class="col-sm-12">Row heights</label>
    <input class="col-sm-12" type="text" [(ngModel)]="options.rowHieghts" (ngModelChange)="optionsChange()">
  </div>

  <div class="row">
    <label class="col-sm-12">Caption</label>
    <input class="col-sm-12" type="text" [(ngModel)]="options.text" (ngModelChange)="optionsChange()">
  </div>

  <div class="row">
    <button class="col-sm-12" (click)="onPrint()">Print</button>
  </div>


</div>
