@import "../config";

.container{
  position: fixed;
  width:100%;
  height:100%;
  background: @gray-1;
}

app-layout-config {
  float: left;
  height: 100%;
  width: 300px;
  overflow-y: scroll ;
}

.svg-container
{
  height: 100%;
  width: calc(~"100% -300px");
  margin-left: 300px;
  background: aquamarine;
}




