@import "../config";

* {
  //font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1.15;
}

.wrapper{
  position: fixed;
  width:100%;
  height:100%;
  background: @gray-lighter;
}

app-layout-config {
  float: left;
  height: 100%;
  width: 300px;
  overflow-y: scroll ;
}

.svg-container
{
  padding:7px;
  height: ~"calc(100% - 14px)";
  //width: calc(~"100% -300px");
  margin-left: 300px;
}




